@tailwind components;

@layer components {
    .home-page-banner{
        background-image: url("/images/welcome-img.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: calc(100vw / 1.5);
    }
}